<div class="flex flex-coum">
  <span class="text-lg mb-4">Registro</span>

  <mat-form-field>
    <mat-label>Registro </mat-label>
    <input type="password" matImput placeholder="Contraseña">
  </mat-form-field>

  <div class="flex flex-coum">
    <span class="text-lg mb-4">Registro</span>

    <mat-form-field>
      <mat-label>Usurio</mat-label>
      <input type="text" matImput placeholder="Nombre de usuario">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Nombre</mat-label>
      <input type="text" matImput placeholder="Nombre de usuario">
    </mat-form-field>



    <mat-form-field>
      <mat-label>Contraseña</mat-label>
      <input type="password" matImput placeholder="Contraseña">
    </mat-form-field>

    <button mat-button mat-flat-button color="primary">
      <mat-icon>save</mat-icon>
      Ingresar
    </button>

    <div class = "flex justify*content-end mt-5">
      <a routerLink="/auth/login">¿No tienes cuenta?</a>
    </div>

    </div>




  <button mat-button mat-flat-button color="primary">
    <mat-icon>save</mat-icon>
    Ingresar
  </button>

  <div class = "flex justify*content-end mt-5">
    <a routerLink="/auth/new-account">¿No tienes cuenta?</a>
  </div>

  </div>



